@import "common/variables.less";
@import "forum/CustomDarkMode.less";
@import "forum/HeroSection";
@import "forum/DiscussionList.less";
@import "forum/DiscussionRow.less";
@import "forum/DiscussionHeader.less";
@import "forum/HeaderBack.less";
@import "forum/Logo.less";
@import "forum/CustomDiscussionTabNavigation.less";
@import "forum/CustomMobileDiscussionToolbar.less";
@import "forum/CustomSearch.less";
@import "forum/CustomButton.less";
@import "forum/CustomMobileNavigation.less";

.TextEditor-editorContainer {
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 10px;
}

.item-reply .Button {
  border: 2px solid #c22126;
  border-radius: 4px;
  color: #c22126;
}

.item-account {
  display: none;
}

.SelectTagList > li.child .SelectTagListItem-name,
.SelectTagListItem-name {
  width: auto;
}

.SelectTagList > li.child .SelectTagListItem-name,
.SelectTagListItem-name {
  width: unset;
}

.Button--primary .Button-icon{
  display: inline-block;
}

// .Alert-controls>li>a, .Alert-controls>li>.Button {
//   display: none;
// }

@media (min-width: 1280px) {
  .container {
    width: 1280px !important;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px !important;
  }
}

@media (min-width: 768px) {
    .sideNav .Dropdown--select .Dropdown-menu>li.active>a {
      background: none;
      color: var(--sidenav-color-active, var(--primary-color));
      font-weight: 900;
    }
}