.item-logo {
  padding-left: 14px;
  padding-right: 14px;

  display: flex;
  align-items: center;
}

.item-logo .CustomHeaderLogo {
  display: inline-block;
  line-height: 0;
}

.item-logo .CustomHeaderLogo img {
  max-height: 32px;
  width: auto;
  display: block;
  object-fit: contain;
}

.Navigation-logo {
  display: none;
  @media (max-width: 768px) {
    display: block;
    padding-top: 7px;
    padding-left: 5px;
  }
}

.Header-controls .item-link1 {
  @media (max-width: 768px) {
    margin-top: 25px;
  }
}