.item-logo {
  padding-left: 14px;
  padding-right: 14px;

  display: flex;
  align-items: center;
}

.item-logo .CustomHeaderLogo {
  display: inline-block;
  line-height: 0;
}

.item-logo .CustomHeaderLogo img {
  max-height: 32px;
  width: auto;
  display: block;
  object-fit: contain;
}
